<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <h1 align="center">내 학교 <<%= @my_school %>></h1><br>
    <h2 align="center">전체 학생들의 학점 분포</h2>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <h2>내 점수는 <%= @my_point %><br>
    전체 <%= @all %>명 중 <%= @rank %>등, 상위 <%= @percent %>% 입니다.</h2><br>
    <h2 align="center"><%= @my_school %> 학생들의 학점 분포</h2>
    <div class="row">

        <!-- Line Chart - Single Series -->
        <div class="col-xs-6">
            <%= line_chart Post.group(:point).count, id: "score-chart", width: "800px", height: "500px", xtitle: "학점", ytitle: "인원"%>
        </div>
    </div>
    <h2>내 점수는 <%= @my_point %><br>
    전체 <%= @all %>명 중 <%= @rank %>등, 상위 <%= @percent %>% 입니다.</h2><br>
    <a href="/input"><h2>돌아가기 </h2></a>
  </body>
</html>
<%= javascript_tag do%>
google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      //y축 tick 반올림 필요
      var arr = [['학점', '인원']];
      var arr2 = <%= @data %>;
      arr = arr.concat(arr2);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(arr);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          vAxis: { title: '인원',
                    textStyle : { italic: false},
                    format: '0',
                    baselineColor: 'none'},
          hAxis: { title : '학점',
                   ticks : <%= @h_axis%>,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
<% end %>