<h1>학점</h1>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <%= line_chart Post.group(:point).count %>
  </div>

</div>

내 점수는 <%= @my_point %><br>
전체 <%= @all %>명 중 <%= @rank %>등, 상위 <%= @percent %>% 입니다.<br>

<a href="/"> 돌아가기 </a>
