<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="../../assets/stylesheets/list.css" />
    <link rel="stylesheet" href="../../assets/stylesheets/progress_bubbling.css" />
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  </head>
  <body>
당신의 아이디 = <%= current_user.email %><br>  

    <h2 align="center"><%= @my_school %> <%= @my_dept %> 학생들의 학점 분포</h2>
      <div align="center">
          <a href="#"><h2>페이스북 공유하기</h2></a>
      <h3>카카오톡 앱이 설치되어 있는 모바일 기기라면 아래의 링크가 동작합니다.</h3>
      <a id="kakao-link-btn" href="javascript:;">
<img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
</a>
          </div>
      <div class="bubblingG" id="bubble1" align="center">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>
      <div id="curve_chart_dept" style="width: 900px; height: 500px; margin: auto"></div>
          <h2 align="center">내 점수는 <%= @my_point %><br>
          <h2 align="center">그룹 평균 <%= @avg_dept %><br>
            
    전체 <%= @all_dept %>명 중 <%= @rank_dept %>등, 상위 <%= @percent_dept %>% 입니다.</h2><br>
      
      <h2 align="center"><%= @my_school %> 학생들의 학점 분포</h2>
      <div class="bubblingG" id="bubble2" align="center">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>
    <div id="curve_chart_school" style="width: 900px; height: 500px; margin: auto"></div>
        <h2 align="center">내 점수는 <%= @my_point %><br>
        <h2 align="center">그룹 평균 <%= @avg_school %><br>
    전체 <%= @all_school %>명 중 <%= @rank_school %>등, 상위 <%= @percent_school %>% 입니다.</h2><br>
    
      <h2 align="center">전국 대학생들의 학점 분포</h2>
      <div class="bubblingG" id="bubble3" align="center">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>
    <div id="curve_chart_all" style="width: 900px; height: 500px; margin: auto" ></div>
    <h2 align="center">내 점수는 <%= @my_point %><br>
    <h2 align="center">그룹 평균 <%= @avg_all %><br>
    전체 <%= @all_all %>명 중 <%= @rank_all %>등, 상위 <%= @percent_all %>% 입니다.</h2><br>
  </body>
</html>
<script type='text/javascript'>
  //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('aad2c79abd8f32592d3a986f94d16ea0');
    // // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '카카오링크 샘플에 오신 것을 환영합니다.',
      image: {
        src: 'http://dn.api1.kage.kakao.co.kr/14/dn/btqaWmFftyx/tBbQPH764Maw2R6IBhXd6K/o.jpg',
        width: '300',
        height: '200'
      },
      webButton: {
        text: '카카오 디벨로퍼스',
        url: 'https://localhost:3000' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
  //]]>
</script>


<%= javascript_tag do%>

$(document).ready(function(){
    
});
function findLowLimit(arr) {
    arr.sort();
    var low = 0;
    while((low < arr[0][0]) && (arr[0][0] != null)) {
        if(low + 0.5 < arr[0][0])
            low += 0.5;
        else 
            break;
    }
    return low;
}
function findHighLimit(arr) {
    arr.sort();
    var high = 4.5;
    while((high >= arr[arr.length - 1][0]) && (arr[arr.length-1][0] != null)) {
        if(high - 0.5 > arr[arr.length - 1][0])
            high -= 0.5;
        else 
            break;
    }
    return high;
}

function generateRange(arr){
    var low = findLowLimit(arr);
    var high = findHighLimit(arr);
    var result = [];
    for(var i = low; i <= high; i+= 0.5)
        result.push(i);
    return result;
}

function terminalDataProcess(arr) {
    
    var low = findLowLimit(arr);
    var high = findHighLimit(arr);
    arr = arr.concat([[low, 0]]);
    arr = arr.concat([[high, 0]]);
    arr.sort();
    return arr;
}

function terminalDataProcess2(arr) {
    var has_0 = false;
    var has_4_5 = false;
    for(var i = 0; i < arr.length; i++) {
            if(arr[i][0] == 0) {
                has_0 = true
                break;
            }
            if(arr[i][0] == 4.5) {
                has_4_5 = true
                break;
            }
    }
    if(!has_0)
        arr = arr.concat([[0, 0]]);
    if(!has_4_5)
        arr = arr.concat([[4.5, 0]]);
    arr.sort();
    return arr;
}
      var arr = [['학점', '인원']];
    
      var arr_all = arr.concat(<%= @data_all %>);
          var low_all = findLowLimit(arr_all);
        var range_all = generateRange(arr_all);
          arr_all = terminalDataProcess(arr_all); 
          arr_all = arr.concat(arr_all);
          console.log(range_all);
                                  
      var arr_school = <%= @data_school %>;
      var range_school = generateRange(arr_school);      
          arr_school = terminalDataProcess(arr_school);
          arr_school = arr.concat(arr_school);

      var arr_dept = <%= @data_dept %>;
          var low_dept = findLowLimit(arr_dept);
      var range_dept = generateRange(arr_dept);
          arr_dept = terminalDataProcess(arr_dept);
          arr_dept = arr.concat(arr_dept); 

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(chartOnLoadCallbackAll);
      google.charts.setOnLoadCallback(chartOnLoadCallbackSchool);
      google.charts.setOnLoadCallback(chartOnLoadCallbackDept);

    function chartOnLoadCallbackAll() {
        console.log("callback called");
        $("#bubble3").hide();
        drawChartAll();
    }
    function chartOnLoadCallbackSchool() {
        console.log("callback called");
        $("#bubble2").hide();
        drawChartSchool();
    }
    function chartOnLoadCallbackDept() {
        console.log("callback called");
        $("#bubble1").hide();
        drawChartDept();
    }

      function drawChartAll() {
        var data = google.visualization.arrayToDataTable(arr_all);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          vAxis: { title: '인원',
                    textStyle : { 
                                    italic: false,
                                    color: 'none'
                                },
                    //format: '0',
                    baselineColor: 'none'},
           hAxis: { title : '학점',
                   ticks : range_all,
                   //ticks : <%= @h_axis_dept%>,
                    textStyle: { italic: false},
                 },
        interpolateNulls: true
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_all'));
        chart.draw(data, options);
      }
      
      function drawChartSchool() {
        var data = google.visualization.arrayToDataTable(arr_school);

        var options = {
          interpolateNulls: true,
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          series: {
            0: { 
                    lineWidth:2,
                    color: '#e2431e' },
          },
          vAxis: { title: '인원',
                    textStyle : { 
                                    italic: false,
                                    color: 'none',
                                },
                    gridlines: { count : 10},
                    format: 'long',
                    baselineColor: 'none',
                  viewWindow:{
                            min:0
                    }
                 },
          hAxis: { title : '학점',
                   ticks : range_school,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_school'));

        chart.draw(data, options);
      }

      function drawChartDept() {
        var data = google.visualization.arrayToDataTable(arr_dept);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'black'},
          legend: { position: 'none' },
          pointSize: 5,
          series: {
            0: { 
                    lineWidth:2,
                    color: '#e2431e' },
          },
          vAxis: { title: '인원',
                    textStyle : { 
                                    italic: false,
                                    color: 'none',
                                },
                    gridlines: { count : 10},
                    format: 'long',
                    baselineColor: 'none',
                  viewWindow:{
                            min:0
                    }
                 },
          hAxis: { title : '학점',
                   ticks : range_dept,
                   //ticks : <%= @h_axis_dept%>,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_dept'));

        chart.draw(data, options);
      }
<% end %>