<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="../../assets/stylesheets/list.css" />
  </head>
  <body>
    <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div><br>
      
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button><br>

<div id="status">
</div>
    <h2 align="center"><%= @my_school %> <%= @my_dept %> 학생들의 학점 분포</h2>
      <div id="curve_chart_dept" style="width: 900px; height: 500px; margin: auto"></div>
          <h2 align="center">내 점수는 <%= @my_point %><br>
    전체 <%= @all_dept %>명 중 <%= @rank_dept %>등, 상위 <%= @percent_dept %>% 입니다.</h2><br>
      
      <h2 align="center"><%= @my_school %> 학생들의 학점 분포</h2>
    <div id="curve_chart_school" style="width: 900px; height: 500px; margin: auto"></div>
        <h2 align="center">내 점수는 <%= @my_point %><br>
    전체 <%= @all_school %>명 중 <%= @rank_school %>등, 상위 <%= @percent_school %>% 입니다.</h2><br>
    
      <h2 align="center">전국 대학생들의 학점 분포</h2>
    <div id="curve_chart_all" style="width: 900px; height: 500px; margin: auto" ></div>
    <h2 align="center">내 점수는 <%= @my_point %><br>
    전체 <%= @all_all %>명 중 <%= @rank_all %>등, 상위 <%= @percent_all %>% 입니다.</h2><br>
        
    <a href="/input"><h2>돌아가기 </h2></a><br>
    <a href="#"><h2>페이스북 공유하기</h2></a>
  </body>
</html>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1270506772973041',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    
 // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
    
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }


    
</script>

<%= javascript_tag do%>
google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartAll);
      google.charts.setOnLoadCallback(drawChartSchool);
      google.charts.setOnLoadCallback(drawChartDept);
      //y축 tick 반올림 필요
      var arr = [['학점', '인원']];
      
      var arr_all = arr.concat(<%= @data_all %>);
      var arr_school = arr.concat(<%= @data_school %>);
      var arr_dept = arr.concat(<%= @data_dept %>);

      function drawChartAll() {
        var data = google.visualization.arrayToDataTable(arr_all);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          vAxis: { title: '인원',
                    textStyle : { italic: false},
                    format: '0',
                    baselineColor: 'none'},
          hAxis: { title : '학점',
                   ticks : <%= @h_axis_all%>,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_all'));

        chart.draw(data, options);
      }
      
      function drawChartSchool() {
        var data = google.visualization.arrayToDataTable(arr_school);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          vAxis: { title: '인원',
                    textStyle : { italic: false},
                    format: '0',
                    baselineColor: 'none'},
          hAxis: { title : '학점',
                   ticks : <%= @h_axis_school%>,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_school'));

        chart.draw(data, options);
      }

      function drawChartDept() {
        var data = google.visualization.arrayToDataTable(arr_dept);

        var options = {
          curveType: 'function',
          crosshair: { trigger: 'both',
                       orientation: 'vertical',
                       color : 'red'},
          legend: { position: 'none' },
          pointSize: 5,
          vAxis: { title: '인원',
                    textStyle : { italic: false},
                    format: '0',
                    baselineColor: 'none'},
          hAxis: { title : '학점',
                   ticks : <%= @h_axis_dept%>,
                    textStyle: { italic: false},
                 },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_dept'));

        chart.draw(data, options);
      }
<% end %>