<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag "http://www.google.com/jsapi?ext.js" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <link rel="stylesheet" href="../../assets/stylesheets/univlist.css" />
</head>
<body>
<form action="/univ_list" method="get">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="submit" name="is_major" value="true" class="btn btn-default">전공</button>
  </div>
  <div class="btn-group" role="group">
    <button type="submit" name="is_major" value="false" class="btn btn-default">교양</button>
  </div>
</div>
<input type="hidden" name="utf_8" value="✓" />
<input type="hidden" name="search" value="<%= @university_name %>" />
<input type="hidden" name="semester" value="<%= @semester %>" />
</form>

<div class="grid">
	<h1 align="center"><%= @university_name %>의 학점 분포 현황(<%= @semester_string %>학기 - <%= @major_string %>)</h1>

    <nav aria-label="...">
  <ul class="pager">
  <form id="semesterForm1" action="/univ_list" method="get" style="display: inline;">
    <li><a href="#" onclick="document.getElementById('semesterForm1').submit();">1학기</a></li>
      <input type="hidden" name="utf_8" value="✓" />
      <input type="hidden" name="search" value="<%= @university_name %>" />
      <input type="hidden" name="is_major" value="<%= @is_major %>" />
      <input type="hidden" name="semester" value="spring" />
  </form>
  <form id="semesterForm2" action="/univ_list" method="get" style="display: inline;">
    <li><a href="#" onclick="document.getElementById('semesterForm2').submit();">2학기</a></li>
      <input type="hidden" name="utf_8" value="✓" />
      <input type="hidden" name="search" value="<%= @university_name %>" />
      <input type="hidden" name="is_major" value="<%= @is_major %>" />
      <input type="hidden" name="semester" value="fall" />
  </form>
  </ul>
</nav>
    
  <div>
      <div align="center" style="padding:30px;">
        <input class=" dropdown-input" id="target" name="univ_name" list="mylist"/>
                    <datalist id="mylist">
                       <% @university_list.each do |name| %>
                          <option><%= name %></option>
                       <%end%>
                </datalist>
        <button type="button" class="btn_add btn-primary">비교 학교 추가하기</button>
        </div>
        <div id="barchart" class="chart1">
        </div>
  </div>
    <h1> <%= @test %></h1>
    <h1> <%= @university_id %></h1>
    <h1> <%= @chart_data %></h1>
    <div align="center">
        <h1> <a href = "/search">홈으로 이동 </a></h1>
    </div>
    
</body>


<%= javascript_tag do%>
var schoolList = new Array();
schoolList.push('<%= @university_name %>')
var arr = [['학교', 'A+', {role: 'annotation'}, 'A0', {role: 'annotation'}, 'A-', {role: 'annotation'}, 'B+', {role: 'annotation'}, 'B0', {role: 'annotation'}, 'B-', {role: 'annotation'}, 'C+', {role: 'annotation'}, 'C0', {role: 'annotation'}, 'C-', {role: 'annotation'}, 'D+', {role: 'annotation'}, 'D0', {role: 'annotation'}, 'D-', {role: 'annotation'}, 'F', {role: 'annotation'}]];
var relativeHeight = 70;
    
    
var options = {
    
        width:"80%",
        height:300,
        bar: {groupHeight : "0%"},
        colors: ['F25C5C','FF9A9A','FFD1D1', 'F5A623','FFCD7B', 'FBDCA7','30D9A2','77F0C9','BAF1DF','5C9AF2','95B4E1','BCC9DA','600863'],
        hAxis: {
            textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
        vAxis: {
            //textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
    
        legend: {
            position: 'top',
            alignment: 'center',
            maxLines: 5
        },
    
        isStacked:'percent'
	 };

google.charts.load('current', {'packages':['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBarChart);

function drawBarChart() {

   var arr2 = ['<%= @university_name %>'];
   arr2 = arr2.concat(<%= raw @query.as_json%>);
   console.log(arr2);
   arr.push(arr2);

   var data = google.visualization.arrayToDataTable(arr);


   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
}

$(".btn_add").click(function(){
if(schoolList.includes($('#target').val(), 0)){
    alert('이미 추가한 대학교입니다');
    return false;
} else {
    schoolList.push($('#target').val());
    console.log(schoolList);
}
$.ajax({
    method: "GET", 
    url: "/univ_add",
    data: {
        search: $('#target').val(),
        semester: '<%= @semester %>',
        is_major: '<%= @is_major %>'
    },
    success: function(data){
        console.log(data);
        //alert(data);
        //alert(data[0]);
        //alert(data[1]);
        var arr2 = [data[0]];
        arr2 = arr2.concat(data[1]);
        console.log(data[0]);
        console.log(data[1]);
        arr.push(arr2);
        console.log(arr);

   var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   //alert(options.height);
   chart.draw(data, options);
    },
    error: function() {
        alert('검색어가 유효하지 않습니다');
    }
    }).done(function() {
        //alert('완료');
    });
});


$(window).resize(function(){
var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
});

<% end %>