<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">
    
  <!-- js   -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag "http://www.google.com/jsapi?ext.js" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../../assets/stylesheets/skeleton.css">
  <link rel="stylesheet" href="../../assets/stylesheets/univlist.css" />

</head>
<body>
  <div class="container">
    <div class="row">
<!--제목 container-->
           <div class="row">
              <div class="twelve columns"; style="text-align:center;">
                  <p> <span style = "font-size: 30pt; font-family: BMDOHYEON; src: /assets/fonts/BMDOHYEON.ttf;">전국 대학 학점 인플레 비교<br><span style = "display: block; margin-top: -2px; font-size: 15pt; word-spacing: 22px;" >알 아 보 기</span></span></p>
              </div>
           </div>
    
<!--학기 및 과목 선택 container -->
<!--type 바꿔야함 -->
           <div class="row">
               <div class="six columns">
                   <form action="/univ_list" method="get">
                    <button type="submit" name="is_major" value="true">전공</button>
                  <button type="submit" name="is_major" value="false">교양</button>
              <input type="hidden" name="utf_8" value="✓" />
              <input type="hidden" name="search" value="<%= @university_name %>" />
              <input type="hidden" name="semester" value="<%= @semester %>" />
                    </form>
               </div>

               <div class="six columns">
                   <form id="semesterForm1" action="/univ_list" method="get">
                        <a href="#" onclick="document.getElementById('semesterForm1').submit();">1학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="spring" />
                   </form>
                   <form id="semesterForm2" action="/univ_list" method="get">
                        <a href="#" onclick="document.getElementById('semesterForm2').submit();">2학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="fall" />
                    </form>
               </div>
            </div>
        <div>
            <div class="row top7">
                <div class="tweleve columns">
                    <input type="text" name="univ_name" id="target" class="awesomplete" placeholder="대학교 입력" list="mylist"/>
                    <datalist id="mylist">
                       <% @university_list.each do |name| %>
                    <option><%= name %></option>
                    <%end%>
                    </datalist>
                </div>
            </div>
            <div class="row top20">
                <div class="tweleve columns">
                    <button type="button" class="btn_add btn-primary">비교 학교 추가하기</button>
                </div>
            </div>
            <div class="row top10">
                <div class="tweleve columns">
                     <form action='/univ_list' method='GET'  style="display: inline;">
                        <button type="submit" class="btn_rand btn-primary">랜덤</button>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="random" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="<%= @semester %>" />
                     </form>
                </div>
            </div>
        </div>
</div>
<!--ㅇㅇ대학교 분포현황-->
    <div class="row">
        <div class="tweleve columns">
             <span style = "font-size: 20pt; font-family: BMDOHYEON; src: /assets/fonts/BMDOHYEON.ttf;"><%= @university_name %></br>
             학점 분포 현황<br>
        </div>     
    </div>
    <div class="row">
        <div class="two columns">
            <span style = "font-size: 15pt; color: #808080">(<%= @semester_string %>학기 - <%= @major_string %>)
             </span>
        </div>
        <div class="ten columns">
            <p>설명</p>
        </div>
    </div>
    <div class="row">
        <div class="tweleve columns">
            <div id="barchart" class="chart1"></div>
        </div>
    </div>
</div>

</body>
</html>


<%= javascript_tag do%>
var schoolList = new Array();
schoolList.push('<%= @university_name %>')
var arr = [['학교', 'A+', {role: 'annotation'}, 'A0', {role: 'annotation'}, 'A-', {role: 'annotation'}, 'B+', {role: 'annotation'}, 'B0', {role: 'annotation'}, 'B-', {role: 'annotation'}, 'C+', {role: 'annotation'}, 'C0', {role: 'annotation'}, 'C-', {role: 'annotation'}, 'D+', {role: 'annotation'}, 'D0', {role: 'annotation'}, 'D-', {role: 'annotation'}, 'F', {role: 'annotation'}]];
var relativeHeight = 70;
    
    
var options = {
    
        width:"80%",
        height:300,
        bar: {groupHeight : "0%"},
        colors: ['F25C5C','FF9A9A','FFD1D1', 'F5A623','FFCD7B', 'FBDCA7','30D9A2','77F0C9','BAF1DF','5C9AF2','95B4E1','BCC9DA','600863'],
        hAxis: {
            textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
        vAxis: {
            //textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
    
        legend: {
            position: 'top',
            alignment: 'center',
            maxLines: 5
        },
  
        annotations: {
          style: 'point',
          highContrast: 'false',
          textStyle: {
            color: '#000000',
            bold: 'false',
            auraColor: '#abcdef'
          }
        },
  
        isStacked:'percent'
	 };

google.charts.load('current', {'packages':['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBarChart);

function drawBarChart() {

   var arr2 = ['<%= @university_name %>'];
   arr2 = arr2.concat(<%= raw @query.as_json%>);
   console.log(arr2);
   arr.push(arr2);

   var data = google.visualization.arrayToDataTable(arr);


   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
}

$(".btn_add").click(function(){
if(schoolList.includes($('#target').val(), 0)){
    alert('이미 추가한 대학교입니다');
    return false;
} else {
    schoolList.push($('#target').val());
    console.log(schoolList);
}
$.ajax({
    method: "GET", 
    url: "/univ_add",
    data: {
        search: $('#target').val(),
        semester: '<%= @semester %>',
        is_major: '<%= @is_major %>'
    },
    success: function(data){
        console.log(data);
        //alert(data);
        //alert(data[0]);
        //alert(data[1]);
        var arr2 = [data[0]];
        arr2 = arr2.concat(data[1]);
        console.log(data[0]);
        console.log(data[1]);
        arr.push(arr2);
        console.log(arr);

   var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   //alert(options.height);
   chart.draw(data, options);
    },
    error: function() {
        alert('검색어가 유효하지 않습니다');
    }
    }).done(function() {
        //alert('완료');
    });
});


$(window).resize(function(){
var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
});

<% end %>