
<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">


  </div>

</div>

<h3> <%= University.where(name: '연세대학교 _본교').pluck('aplus_ratio_1') %> </h3>

<h1>학교 지역</h1>
<% @univ.each do |p|%>
				<%= pie_chart [["A+", p.aplus_students_1], ["A0", p.azero_students_1],["A-",p.aminus_students_1]] %>

    <%= p.name %> / <%= p.location %> / <%= p.is_4_5 %> / <%= p.is_public %> / <%= p.total_student_1 %> / <%= p.aplus_students_1 %> / <%= p.aplus_ratio_1 %> / <%= p.aplus_students_2 %> / <%= p.aplus_ratio_2 %><br> 

<% end %>
