<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- js -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag "http://www.google.com/jsapi?ext.js" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <!-- css -->
    <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="../../assets/stylesheets/skeleton.css">
    <link rel="stylesheet" href="../../assets/stylesheets/univlist.css" />
    <link rel="stylesheet" href="../../assets/stylesheets/banner.css" />
    <link rel="stylesheet" href="../../assets/stylesheets/swiper.min.css">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>

<!--제목 container-->
    <header class="header">
       <div class="container">
        <div class="row">
            <div class="six columns">
            </div>
            <div class="six columns">
                <a href="/mygrade"> 내 학점 비교하기 </a>

                <form id="semesterFormMajor" action="/univ_list" method="get">
                    <a onclick="document.getElementById('semesterFormMajor').submit();">전공</a>
                    <input type="hidden" name="utf_8" value="✓" />
                  <input type="hidden" name="search" value="<%= @university_name %>" />
                  <input type="hidden" name="semester" value="<%= @semester %>" />
                <input type="hidden" name="is_major" value="true" />
                </form>
                
                <form id="semesterFormMinor" action="/univ_list" method="get">
                    <a onclick="document.getElementById('semesterFormMinor').submit();">교양</a>
                    <input type="hidden" name="utf_8" value="✓" />
                  <input type="hidden" name="search" value="<%= @university_name %>" />
                  <input type="hidden" name="semester" value="<%= @semester %>" />
                <input type="hidden" name="is_major" value="false" />
                </form>
        
                 <form id="semesterForm1" action="/univ_list" method="get">
                        <a onclick="document.getElementById('semesterForm1').submit();">1학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="spring" />
                   </form>
                   <form id="semesterForm2" action="/univ_list" method="get">
                        <a onclick="document.getElementById('semesterForm2').submit();">2학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="fall" />
                    </form>

            </div>
        </div>
       </div>
    </header>
    <main>
        <div class="hbg"></div>
        <div class="container">
            <div class="row">
                <div class="six columns">
                <span style = "font-size: 20pt;"><span style = "color:orange;"><%= @university_name %></span></br>
                학점 분포 현황     
                <span style = "font-size: 15pt; color: #808080">(<%= @semester_string %>학기 - <%= @major_string %>)
                </span>
                <form action='/univ_list' method='GET'  style="display: inline;">
                        <button type="submit" class="btn_rand randombt">랜덤 학교</button>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="random" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="<%= @semester %>" />
                </form>
                </div>
                <div class="six columns" style="text-align: right;">
                    <div class="state">
                    <p><span><%=@year%></span></p>
                    <span>기준년도</span>
                    </div>
                    <div class="state">
                    <p><span><%=@totalGradePoint%></span></p>
                    <span>만점평점</span>
                    </div>
                    <div class="state">
                    <p><span><%=@totalStudents%></span></p>
                    <span>성적인정<br>총학생수</span>
                    </div>
                    <div class="state">
                    <span>A학점비중</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="nav">
        <div class="container">
        <div class="row">
            <div class="twelve columns">
                <input type="text" name="univ_name" id="target" class="at awesomplete" placeholder="대학교 추가 입력" list="mylist"/>
                    <datalist id="mylist">
                    <% @university_list.each do |name| %>
                    <option><%= name %></option>
                    <%end%>
                    </datalist>
                    <button type="button" class="btn_add btadd">비교 학교 추가하기</button>
            </div>
        </div>
        </div>
    </div>
<!--학기 및 과목 선택 container -->
<!--type 바꿔야함 -->
<!--ㅇㅇ대학교 분포현황-->
    <div class="row">
        <div class="ten columns">
            <p>설명</p>
        </div>
  </div>

  <!-- barchart -->
</div>
    <div class="row">
        <div class="tweleve columns">
        <div id="barchart" class="chart1"></div>
    </div>
  </div>
    

<!-- 주석 처리
  <h1> ========DEBUG=======</h1>
  <h3> <%= @test %></h3>
  <h3> <%= @university_id %></h3>
  <h3> <%= @chart_data %></h3>
  <div align="center">
      <h3> <a href = "/search">홈으로 이동 </a></h3>
  </div>
-->
  
   <!-- Swiper -->
    <div id="layer_fixed" class="swiper-container twelve columns">
        <div class="swiper-wrapper">

          <div class="swiper-slide"><span style="color:orange">A학점 최고의 대학교</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@aplus_top5_list[1][0]%>, <%=@aplus_top5_list[0][0]%>% </div>
          <div class="swiper-slide"><span style="color:orange">A학점 최고의 대학교</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@aplus_top5_list[1][1]%>, <%=@aplus_top5_list[0][1]%>% </div>
          <div class="swiper-slide"><span style="color:orange">A학점 최고의 대학교</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@aplus_top5_list[1][2]%>, <%=@aplus_top5_list[0][2]%>% </div>
          <div class="swiper-slide"><span style="color:orange">A학점 최고의 대학교</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@aplus_top5_list[1][3]%>, <%=@aplus_top5_list[0][3]%>% </div>
          <div class="swiper-slide"><span style="color:orange">A학점 최고의 대학교</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@aplus_top5_list[1][4]%>, <%=@aplus_top5_list[0][4]%>% </div>
        </div>
    </div>

    
</div>

</body>
</html>

    <!-- Swiper JS -->
    <script src="../../assets/javascripts/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var Swiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        loop:true,
        autoplay: 2000,
        speed:1000,
        autoResize:true,
        paginationClickable: true,
        autoplayDisableOnInteraction:false,
        slidesPerView:'auto',
        loopedSlides:5

    });
    </script>

  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82843164-2', 'auto');
  ga('send', 'pageview');
  //alert('GA tracking code');

</script>

<%= javascript_tag do%>
var schoolList = new Array();
schoolList.push('<%= @university_name %>')
var arr = [['학교', 'A+', {role: 'annotation'}, 'A0', {role: 'annotation'}, 'A-', {role: 'annotation'}, 'B+', {role: 'annotation'}, 'B0', {role: 'annotation'}, 'B-', {role: 'annotation'}, 'C+', {role: 'annotation'}, 'C0', {role: 'annotation'}, 'C-', {role: 'annotation'}, 'D+', {role: 'annotation'}, 'D0', {role: 'annotation'}, 'D-', {role: 'annotation'}, 'F', {role: 'annotation'}]];
var relativeHeight = 70;
    
    
var options = {
        chartArea: {'width': '80%', 'height': '80%'}, 
        width:"80%",
        height:300,
        bar: {groupHeight : "0%"},
        colors: ['F25C5C','FF9A9A','FFD1D1', 'F5A623','FFCD7B', 'FBDCA7','30D9A2','77F0C9','BAF1DF','5C9AF2','95B4E1','BCC9DA','600863'],
        hAxis: {
            textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
        vAxis: {
            //textPosition : 'none',
            baselineColor: 'none',
            ticks: [],
        },
    
        legend: {
            position: 'top',
            alignment: 'center',
            maxLines: 5
        },
  
        annotations: {
          alwaysOutside: false,
          style: 'point',
          highContrast: 'false',
          textStyle: {
            align: 'center !important',
            fontName: 'koverwatch',
            fontSize: 20,
            color: '#000000',
            bold: false
          },
          visibleInLegend:true
        },

        isStacked:'percent'
	 };

google.charts.load('current', {'packages':['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBarChart);

function drawBarChart() {

   var arr2 = ['<%= @university_name %>'];
   arr2 = arr2.concat(<%= raw @query.as_json%>);
   console.log(arr2);
   arr.push(arr2);

   var data = google.visualization.arrayToDataTable(arr);


   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
}

$(".btn_add").click(function(){
if(schoolList.includes($('#target').val(), 0)){
    alert('이미 추가한 대학교입니다');
    return false;
} else {
    schoolList.push($('#target').val());
    console.log(schoolList);
}
$.ajax({
    method: "GET", 
    url: "/univ_add",
    data: {
        search: $('#target').val(),
        semester: '<%= @semester %>',
        is_major: '<%= @is_major %>'
    },
    success: function(data){
        console.log(data);
        //alert(data);
        //alert(data[0]);
        //alert(data[1]);
        var arr2 = [data[0]];
        arr2 = arr2.concat(data[1]);
        console.log(data[0]);
        console.log(data[1]);
        arr.push(arr2);
        console.log(arr);

   var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   //alert(options.height);
   chart.draw(data, options);
    },
    error: function() {
        alert('검색어가 유효하지 않습니다');
    }
    }).done(function() {
        //alert('완료');
    });
});


$(window).resize(function(){
var data = google.visualization.arrayToDataTable(arr);

   // Instantiate and draw the chart.
   var chart = new google.visualization.BarChart(document.getElementById('barchart'));
   options.height = data.getNumberOfRows() * relativeHeight + 30;
   chart.draw(data, options);
    
   if (window.addEventListener) {
        window.addEventListener('resize', resizeHandler, false);
    }
    else if (window.attachEvent) {
        window.attachEvent('onresize', resizeHandler);
    }
});

<% end %>
