<%= @user.each do |p| %>
    <%= p.email %><br>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
<h1>Current User : <%= @current %></h1>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% end %>