<!DOCTYPE html>
<html>
<head>
  <title>학점바바 - 전국 대학교 학점 인플레 비교</title>
  <%= render 'favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src=”http://code.jquery.com/jquery-1.12.3.min.js” ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/responsive-nav.css" />
    
</head>
<body>
<header class="header">
       <div class="container">
        <div class="row">
            <div class="twelve columns">
                <nav id='cssmenu'>
                    <div class="logo"><a href="/">학점바바 </a></div>
                    <div id="head-mobile"></div>
                    <div class="main-button"></div>
                <ul>
                    <% if !user_signed_in? %>
                    <li class="menu_item" id = "menu_signin">
                          <form>
                          <a href="/users/sign_in"> 로그인 </a>
                          </form>
                    </li>
                    <% else %>
                    <li class="menu_item" id = "menu_signout">
                          <form>
                          <%= link_to('Logout', destroy_user_session_path, :method => :get) %>
                          </form>
                    </li>
                    <% end %>
                    <li class="menu_item" id= "menu_board">
                        <form>
                        <a href="/board"> 자유게시판 </a>
                        </form>
                    </li>
                    <li class="menu_item active" id="menu_mygrade">
                          <form>
                          <a href="/mygrade"> 내 학점 비교하기 </a>
                          </form>
                    </li>
                    <li>
                        <a href="/search">
                            다른학교 비교하기
                            </a>
                    <ul>
                    <li>
                       <form id="semesterForm2" action="/nav_univ_list" method="get">
                            <a href="#" onclick="document.getElementById('semesterForm2').submit();">2학기</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="is_major" value="<%= @is_major %>" />
                            <input type="hidden" name="semester" value="fall" />
                        </form>
                        <ul>
                        <li class="menu_fall">
                        <form id="semesterFormMajor" action="/nav_univ_list" method="get">
                            <a href="#" onclick="document.getElementById('semesterFormMajor').submit();">전공</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="semester" value="fall" />
                            <input type="hidden" name="is_major" value="true" />
                        </form>
                    </li>
                    <li class="menu_spring">
                        <form id="semesterFormMinor" action="/nav_univ_list" method="get">
                            <a href="#" onclick="document.getElementById('semesterFormMinor').submit();">교양</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="semester" value="fall" />
                            <input type="hidden" name="is_major" value="false" />
                        </form>
                    </li>
                        </ul>
                    </li>
                    <li>
                        <form id="semesterForm1" action="/nav_univ_list" method="get">
                            <a href="#" onclick="document.getElementById('semesterForm1').submit();">1학기</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="is_major" value="" />
                            <input type="hidden" name="semester" value="spring" />
                        </form>
                        <ul>
                            <li>
                        <form id="semesterFormMajor" action="/" method="get">
                            <a href="#" onclick="document.getElementById('semesterFormMajor').submit();">전공</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="semester" value="spring" />
                            <input type="hidden" name="is_major" value="true" />
                        </form>
                    </li>
                    <li>
                        <form id="semesterFormMinor" action="/nav_univ_list" method="get">
                            <a href="#" onclick="document.getElementById('semesterFormMinor').submit();">교양</a>
                            <input type="hidden" name="utf_8" value="✓" />
                            <input type="hidden" name="semester" value="spring" />
                            <input type="hidden" name="is_major" value="false" />
                        </form>
                        </li>
                        </ul>
                    </li>
                </ul>
                </nav>
        </div>
       </div>
    </div>
    </header>
<%= yield %>

</body>
</html>
<script>
    (function($) {
$.fn.menumaker = function(options) {  
 var cssmenu = $(this), settings = $.extend({
   format: "dropdown",
   sticky: false
 }, options);
 return this.each(function() {
   $(this).find(".main-button").on('click', function(){
     $(this).toggleClass('menu-opened');
     var mainmenu = $(this).next('ul');
     if (mainmenu.hasClass('open')) { 
       mainmenu.slideToggle().removeClass('open');
         alert('asdfasdf');
           $(this).addClass("active");
     }
     else {
       mainmenu.slideToggle().addClass('open');
       if (settings.format === "dropdown") {
         mainmenu.find('ul').show();
       }
     }
   });
   cssmenu.find('li ul').parent().addClass('has-sub');
multiTg = function() {
     cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
     cssmenu.find('.submenu-button').on('click', function() {
       $(this).toggleClass('submenu-opened');
       if ($(this).siblings('ul').hasClass('open')) {
         $(this).siblings('ul').removeClass('open').slideToggle();
       }
       else {
         $(this).siblings('ul').addClass('open').slideToggle();
       }
     });
   };
   if (settings.format === 'multitoggle') multiTg();
   else cssmenu.addClass('dropdown');
   if (settings.sticky === true) cssmenu.css('position', 'fixed');
resizeFix = function() {
  var mediasize = 700;
     if ($( window ).width() > mediasize) {
       cssmenu.find('ul').show();
     }
     if ($(window).width() <= mediasize) {
       cssmenu.find('ul').hide().removeClass('open');
     }
   };
   resizeFix();
   return $(window).on('resize', resizeFix);
 });
  };
})(jQuery);

(function($){
$(document).ready(function(){
$("#cssmenu").menumaker({
   format: "multitoggle"
});
});
})(jQuery);

$(".menu_item").click(function() {
    $(this).addClass("active");    
}); 
    </script>    
